<node name="root" display="Root" active="1" fontface="georgia,times new roman,courier" fontsize="12" bold="1" italic="1" fontcolor="#0000FF" width="80" height="20" bgcolor="0xCCCCCC" bgalpha="100" leftbound="20" rightbound="20" upperbound="20" lowerbound="20" xroot="0" yroot="0" xgap="1" ygap="-1" transparent="0" mincrement="5" delay="15" sexpand="1" xscroll="1" yscroll="1" startlevel="2000" autosize="0" cwidth="550" cheight="400" incolor="0x000000" hicolor="0xFF0000" inalpha="70" frame="1" frcolor="0x000000" narcolor="0x0000FF" aarcolor="0xFF0000">
	<node display="level1" bold="1" italic="1" name="level1a" active="1"/>
	<node display="level1" bold="1" italic="1" name="level1b" active="0"/>
	<node display="fotios" bold="1" italic="1" name="level1c" active="1" calltype="url">http://fotios.cc</node>
	<node display="do something" bold="1" italic="1" name="level1d" active="1" calltype="action">whatever</node>
	<node display="level1" bold="1" italic="1" name="level1e" active="1"/>
	<node display="level1" bold="1" italic="1" name="level1f" active="1"/>
	<node display="level1" bold="1" italic="1" name="level1g" active="1"/>
	<node display="leve1l" bold="1" italic="1" name="level1h" active="1">
		<node display="fotios pop-up" bold="1" italic="1" name="level2a" active="1" calltype="url">javascript:void(window.open('http://fotios.cc', 'explain', 'width=750,height=550,status=no,menubar=no,scrollbars=yes,screenX=0,left=0,screenY=0,top=0,left=0'));</node>
		<node display="level2" bold="1" italic="1" name="level2b" active="1"/>
		<node display="level2" bold="1" italic="1" name="level2c" active="1"/>
		<node display="level2" bold="1" italic="1" name="level2d" active="1"/>
		<node display="level2" bold="1" italic="1" name="level2e" active="1"/>
		<node display="level2" bold="1" italic="1" name="level2f" active="1"/>
		<node display="level2" bold="1" italic="1" name="level2g" active="1"/>
		<node display="level2" bold="1" italic="1" name="level2h" active="1"/>
		<node display="level2" bold="1" italic="1" name="level2i" active="1">
			<node display="level3" bold="1" italic="1" name="level3a" active="1"/>
			<node display="level3" bold="1" italic="1" name="level3b" active="1"/>
			<node display="level3" bold="1" italic="1" name="level3c" active="1"/>
			<node display="level3" bold="1" italic="1" name="level3d" active="1"/>
			<node display="level3" bold="1" italic="1" name="level3e" active="1"/>
			<node display="level3" bold="1" italic="1" name="level3f" active="1"/>
			<node display="level3" bold="1" italic="1" name="level3g" active="1"/>
			<node display="level3" bold="1" italic="1" name="level3h" active="1"/>
			<node display="level3" bold="1" italic="1" name="level3i" active="1">
				<node display="level4" bold="1" italic="1" name="level4a" active="1">
					<node display="level5" bold="1" italic="1" name="level5a" active="1">
						<node display="level6" bold="1" italic="1" name="level6a" active="1"/>
					</node>
				</node>
			</node>
		</node>
	</node>
	<node display="level1" bold="1" italic="1" name="level1i" active="1">
		<node display="level2" bold="1" italic="1" name="level2j" active="1"/>
	</node>
</node>
